{% extends "layout.html" %}

{% block title %} - Редагування профілю{% endblock %}

{% block menu_profile %}active{% endblock %}

{% block body %}
    <h1 class="content">Редагувати профіль</h1>

    <div class="content">
        <div class="info">
            <p>Якщо щось змінилось, змініть дані про себе.</p>
        </div>

        <div class="form">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="blue" type="submit">зберегти</button>
            </form>
        </div>
    </div>
{% endblock %}