{% extends "layout.html" %}

{% block title %} - Log in{% endblock %}

{% block menu_login %}active{% endblock %}

{% block body %}
    <h1 class="content">Log in</h1>

    <div class="content">
        <div class="info">
            <p>
                Увійдіть у свій акаунт. Якщо ви не маєте акаунту, 
                <a class="text-link" href="{% url 'register' %}">зареєструйтеся</a>.
            </p>
        </div>
    </div>

    <div class="content errors">
        {% if form.errors %}
            <p>{{ form.errors.error }}</p>
        {% endif %}
    </div>
    
    <div class="form-login content">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div style="margin-bottom: 20px;">
                <a class="text-link reset" href="{% url 'password_reset' %}">Forgot password?</a>
            </div>
            <button type="submit">увійти</button>
        </form>
    </div>

{% endblock %}