{% extends "layout.html" %}

{% block title %} - Відновлення пароля{% endblock %}

{% block menu_login %}active{% endblock %}

{% comment %} {% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
&rsaquo; {% translate 'Password reset' %}
</div>
{% endblock %} {% endcomment %}

{% block body %}
    <h1>Відновлення пароля</h1>
    <p>Ми надіслали вам інструкції для відновлення пароля, якщо обліковий запис існує з введеною вами електронною адресою. Ви повинні отримати їх найближчим часом.</p>
    <p>Якщо ви не отримали електронного листа, будь ласка, переконайтеся, що ви ввели адресу, з якою зареєструвалися, і перевірте папку зі спамом.</p>
{% endblock %}
