{% extends "layout.html" %}

{% block menu_login %}active{% endblock %}


{% block body %}
<h1>Скидання пароля</h1>

<div class="form">
  <p>Введіть пошту, на яку ви зареєстровані, і ми надішлемо вам посилання для скидання пароля.</p>
  <form method="post">
    {% csrf_token %}
    {% comment %} {{ form.email.errors }}
    <label for="id_email">Email address:</label>
    {{ form.email }} {% endcomment %}
    {{ form.as_p }}
    <button type="submit">Надіслати</button>
  </form>
</div>

{% endblock %}