{% extends "layout.html" %}

{% block title %} - Відновлення пароля{% endblock %}

{% block menu_login %}active{% endblock %}

{% block body %}
    <div class="content">
        <h1>Відновлення пароля</h1>
        <p>Ми надіслали вам інструкції для відновлення пароля, якщо обліковий запис існує з введеною вами електронною адресою. Ви повинні отримати їх найближчим часом.</p>
        <p>Якщо ви не отримали електронного листа, будь ласка, переконайтеся, що ви ввели адресу, з якою зареєструвалися, і перевірте папку зі спамом.</p>
    </div>
{% endblock %}
