{% extends "layout.html" %}

{% block title %} - Відновлення пароля{% endblock %}

{% block menu_login %}active{% endblock %}

{% block body %}
	<h1 class="content">Відновлення пароля</h1>

	<div class="content">
		<div class="info">
			<p>Введіть пошту, на яку ви зареєстровані, і ми надішлемо вам посилання для скидання пароля.</p>
		</div>
	</div>

	<div class="form content">
		<form method="post">
			{% csrf_token %}
			{{ form.as_p }}
			<button class="blue" type="submit">надіслати</button>
		</form>
	</div>
{% endblock %}