{% extends 'layout.html' %}

{% block title %} - Sign up{% endblock %}

{% block menu_register %}active{% endblock %}

{% block body %}
    <h1 class="content">Sign up</h1>

    <div class="content">
        <div class="info">
            <p>Зареєструйтеся та отримайте доступ до всіх можливостей бібліотеки.</p>
        </div>
    </div>

    <div class="form-register content">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button style="margin-bottom: 76px;" class="blue" type="submit">Register</button>
        </form>

        {% if form.errors %}
            <ul class="helptext">
                {% for field in form %}
                    {% for error in field.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endblock %}