{% extends "layout.html" %}

{% load static %}

{% block title %} - {{ author }}{% endblock %}

{% block menu_table %}active{% endblock %}

{% block body %}
    <h1 class="content">Автор: {{ author }}</h1>

    <div class="list-books">
        <div class="books">
            {% for book in books %}
                <div class="index-book">
                    {% if book.cover %}
                        <a href="{% url 'books:book' book.num %}">
                            <img class="cover" src="{{ book.cover.url }}" alt="{{ book.title }}">
                        </a>
                    {% else %}
                    <a href="{% url 'books:book' book.num %}">
                        <div class="without-cover">
                            <img class="default-cover" src="{% static 'img/mai-logo5.png' %}">
                        </div>
                    </a>
                    {% endif %}
                    <p><a href="{% url 'books:book' book.num %}">{{ book.title }}<br>
                        {% if book.year %}
                            <span>{{ book.year }}</span>
                        {% endif %}
                    </a></p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}