{% extends "layout.html" %}

{% block menu_table %}active{% endblock %}

{% block body %}
    <h1>Категорія: {{ category }}</h1>

    <table class="category-table">
        <thead>
            <tr>
                <th>Номер</th>
                <th>Назва</th>
                <th>Автор</th>
            </tr>
        </thead>
        {% for book in books %}
            <tr>
                <td><a href="{% url 'books:book' book.num %}">{{ book.num }}</a></td>
                <td><a href="{% url 'books:book' book.num %}">{{ book.title }}</a></td>
                <td>
                    {% if book.author %}
                        <a href="{% url 'books:author' book.author %}">{{ book.author }}
                    {% else %}
                        <i>Немає даних</i>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
