{% extends "layout.html" %}

{% block title %} - Таблиця книг{% endblock %}

{% load static %}

{% block head %}
    <script>
        const data={{ books_json|safe }};
    </script>
    <style>
        body {
            background-color: #f0f0f0;
        }
    </style>
{% endblock %}

{% block menu_table %}active{% endblock %}

{% block body %}
<div id="books-data">
    <h1 class="content">Таблиця книг</h1>

    <div class="content">
        <div class="info">
            <p>
                У нас в бібліотеці вже {{ books_count }} {{ book_end }}! 
                Тут можна знайти одну з них та дізнатись більше про неї
            </p>
        </div>
    </div>

    <div class="input-table content">
        <p class="little">Знайти книгу:</p>
        <input type="text" id="filterInput" placeholder="пошук...">
    </div>

    <p class="little content">Натиснувши на назву книги можна перейти на її сторінку.</p>
    <div class="content table-container">
    <table class="book-data-table">
        <thead>
            <tr class="table-head-fix">
                <th>№</th>
                <th>Назва</th>
                <th>Автор</th>
                <th>Категорія</th>
            </tr>
        </thead>
        <tbody>
            {% for book in books %}
                <tr>
                    <td><a href="{% url 'books:book' book.num %}">{{ book.num }}</a></td>
                    <td><a href="{% url 'books:book' book.num %}">{{ book.title }}</a></td>
                    {% if book.author %}
                        <td><a href="{% url 'books:author' book.author %}">{{ book.author }}</a></td>
                    {% else %}
                        <td>Немає даних</td>
                    {% endif %}
                    <td><a href="{% url 'books:category' book.category %}">{{ book.category }}</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</div>
<script src="{% static 'js/books/script.js' %}"></script>
{% endblock %}