@font-face {
  font-family: "Futura PT";
  src: url("../fonts/FuturaHeavy/FuturaPTHeavy.eot");
  src: url("../fonts/FuturaHeavy/FuturaPTHeavy.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaHeavy/FuturaPTHeavy.woff2") format("woff2"), url("../fonts/FuturaHeavy/FuturaPTHeavy.woff") format("woff"), url("../fonts/FuturaHeavy/FuturaPTHeavy.ttf") format("truetype"), url("../fonts/FuturaHeavy/FuturaPTHeavy.svg#Futura PT") format("svg");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Futura PT";
  src: url("../fonts/FuturaMedium/FuturaPTMedium.eot");
  src: url("../fonts/FuturaMedium/FuturaPTMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaMedium/FuturaPTMedium.woff2") format("woff2"), url("../fonts/FuturaMedium/FuturaPTMedium.woff") format("woff"), url("../fonts/FuturaMedium/FuturaPTMedium.ttf") format("truetype"), url("../fonts/FuturaMedium/FuturaPTMedium.svg#Futura PT") format("svg");
  font-weight: 450;
  font-style: normal;
}
html, body {
  font-family: "Futura PT", "roboto", sans-serif;
  font-size: 28px;
  font-weight: 600;
  line-height: 32px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  background-color: #f0f0f0;
  overflow-y: scroll;
  height: 100%;
  padding: 0;
  margin: 0;
}
@media (max-width: 768px) {
  html, body {
    font-size: 22px;
    line-height: 26px;
  }
}

.page {
  overflow: hidden;
}

.container {
  position: relative;
  max-width: 1300px;
  padding: 0 60px;
  margin: 0 auto;
  min-height: 100vh;
  overflow: visible;
  z-index: 100;
}
@media (max-width: 768px) {
  .container {
    padding: 0 30px;
  }
}

#top-container {
  padding: 0;
}

.content {
  padding: 0 60px;
}
@media (max-width: 768px) {
  .content {
    padding: 0 30px;
  }
}

.non_active {
  display: none;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 54px 60px 65px;
  z-index: 100;
  background-color: none;
}
.head .head-link {
  color: #000;
  text-decoration: none;
  line-height: 35.9px;
  transition: all 0.3s ease;
}
.head .head-link:hover {
  color: #ef8368;
}
.head .menu-toggle {
  font-family: "Futura PT", "roboto", sans-serif;
  font-size: 22px;
  font-weight: 600;
  line-height: 28.2px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  display: none;
  background: none;
  border: none;
  color: #000;
  cursor: pointer;
  padding: 0;
}
.head .menu {
  display: flex;
  align-items: center;
  position: relative;
  gap: 46px;
  flex-grow: 1;
}
.head .menu .head-link:first-child {
  margin-left: 46px;
}
.head .menu .head-link:last-child {
  margin-left: auto;
}
@media (max-width: 768px) {
  .head {
    margin: 30px 30px 50px;
  }
  .head .menu {
    display: none;
    position: absolute;
    height: 100vh;
  }
  .head .menu-toggle {
    display: block;
  }
  .head .menu.active {
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding-left: 30px;
    gap: 10px;
    top: 30px;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 90;
  }
  .head .menu.active .head-link {
    margin-left: 0;
    width: 100%;
    text-align: left;
    text-transform: capitalize;
  }
  .head .menu.active .head-link:first-child {
    margin-left: 0;
    margin-top: 45px;
  }
  .head .menu.active #login-link {
    font-size: 22px;
    font-weight: 450;
    line-height: 28.2px;
    margin-top: 30px;
  }
  .head .menu.active #sign-up-link {
    font-size: 22px;
    font-weight: 450;
    line-height: 28.2px;
  }
  .head .menu.active #profile-link {
    font-size: 22px;
    font-weight: 450;
    line-height: 28.2px;
    margin-top: 30px;
    text-transform: none;
  }
}

h1 {
  font-family: "Futura PT", "roboto", sans-serif;
  font-size: 52px;
  font-weight: 600;
  line-height: 54px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  margin-top: 0;
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  h1 {
    font-size: 36px;
    line-height: 38px;
  }
}

h2 {
  font-family: "Futura PT", "roboto", sans-serif;
  font-size: 18px;
  font-weight: 450;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  margin-bottom: 30px;
}

h6 {
  font-family: "Futura PT", "roboto", sans-serif;
  font-size: 20px;
  font-weight: 450;
  line-height: 28px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  margin: 0;
  margin-bottom: 20px;
}

p {
  font-family: "Futura PT", "roboto", sans-serif;
  font-size: 28px;
  font-weight: 600;
  line-height: 32px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}
@media (max-width: 768px) {
  p {
    font-size: 22px;
    line-height: 26px;
  }
}

.text-link {
  color: #000;
  text-decoration: underline;
  text-decoration-style: solid;
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
  transition: all 0.3s ease;
}
.text-link:hover {
  color: #ef8368;
}

.footer {
  background-color: black;
  color: white;
  border-top: 6px solid #ef8368;
  margin-top: auto;
  position: relative;
  z-index: 100;
}
@media (max-width: 768px) {
  .footer .footer-logo-svg {
    display: none;
  }
}
.footer .container {
  margin: 94px auto 0;
  padding: 0;
  padding-bottom: 76px;
  min-height: 500px;
}
.footer .container .footer-content {
  display: flex;
  justify-content: left;
  align-items: top;
  gap: 79px;
}
.footer .container .footer-content .footer-group {
  margin-bottom: 120px;
}
.footer .container .footer-content .footer-group p {
  font-family: "Futura PT", "roboto", sans-serif;
  font-size: 18px;
  font-weight: 450;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #797979;
  margin-bottom: 8px;
}
.footer .container .footer-content .footer-group ul {
  list-style: none;
  padding: 0;
  margin: 0;
  -moz-text-align-last: left;
       text-align-last: left;
}
.footer .container .footer-content .footer-group a {
  font-family: "Futura PT", "roboto", sans-serif;
  font-size: 22px;
  font-weight: 450;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  text-decoration: none;
  transition: all 0.3s ease;
  color: white;
}
.footer .container .footer-content .footer-group a:hover {
  color: #ef8368;
}
.footer .container .footer-logo-mobile {
  display: none;
  margin-top: 58px;
  margin-bottom: 34px;
}
.footer .container .footer-logo-mobile img {
  width: 100%;
}
@media (max-width: 768px) {
  .footer .container .footer-logo-mobile {
    display: block;
  }
}
.footer .container .copyright {
  font-family: "Futura PT", "roboto", sans-serif;
  font-size: 20px;
  font-weight: 450;
  line-height: 28px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #636363;
  margin-top: 0;
  margin-bottom: 14px;
}

@media (max-width: 768px) {
  .footer {
    padding-bottom: 36px;
  }
  .footer .container {
    padding-bottom: 30px;
    min-height: auto;
  }
  .footer .container .footer-content {
    flex-direction: column;
    gap: 30px;
  }
  .footer .container .footer-content .footer-group {
    margin-bottom: 0;
  }
  .footer .container .footer-content .footer-group ul {
    margin-bottom: 0;
  }
  .footer .container p:last-child {
    margin-bottom: 30px;
  }
}
.l-padding {
  padding-left: 30px;
}

.info {
  width: 736px;
  margin-bottom: 65px;
}
.info p {
  margin-top: 0;
  margin-bottom: 10px;
}
@media (max-width: 768px) {
  .info {
    width: 100%;
  }
}

.list-books {
  padding: 0 60px;
}
.list-books .books {
  display: flex;
  justify-content: left;
  overflow-x: auto;
  position: relative;
  gap: 20px;
  z-index: 1000;
  margin-bottom: 50px;
}
.list-books .books .index-book {
  margin-right: 60px;
}
.list-books .books .index-book .cover {
  height: 303px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease;
}
.list-books .books .index-book .cover:hover {
  box-shadow: 10px 10px 20px #ef8368;
}
.list-books .books .index-book p {
  width: 200px;
  margin-bottom: 0;
  font-family: "Futura PT", "roboto", sans-serif;
  font-size: 22px;
  font-weight: 450;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}
.list-books .books .index-book p a {
  text-decoration: none;
  color: #000;
  transition: all 0.3s ease;
}
.list-books .books .index-book p a:hover {
  color: #ef8368;
}
.list-books .books .index-book span {
  font-family: "Futura PT", "roboto", sans-serif;
  font-size: 22px;
  font-weight: 450;
  line-height: 28px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #636363;
}
.list-books:last-of-type {
  margin-bottom: 120px;
}
@media (max-width: 768px) {
  .list-books {
    padding: 0;
  }
  .list-books .index-book {
    margin-bottom: 50px;
  }
  .list-books h2 {
    margin-left: 30px;
  }
  .list-books .books {
    gap: 20px;
  }
  .list-books .books .index-book {
    margin-left: 30px;
    margin-right: 30px;
  }
}

.without-cover {
  display: flex;
  width: 200px;
  height: 303px;
  background-color: #f4f4f4;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
  margin-bottom: 22px;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}
.without-cover .default-cover {
  width: 200px;
  height: 200px;
}
.without-cover:hover {
  box-shadow: 10px 10px 20px #ef8368;
}

.input-table {
  margin-bottom: 20px;
}

.placeholder {
  font-family: "Futura PT", "roboto", sans-serif;
  font-size: 22px;
  font-weight: 450;
  line-height: 28px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  display: inline-block;
}

#filterInput {
  font-family: "Futura PT", "roboto", sans-serif;
  font-size: 22px;
  font-weight: 450;
  line-height: 28px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  width: 250px;
  padding: 5px;
  border: none;
  border-bottom: 3px solid #ef8368;
  background-color: inherit;
  transition: all 0.3s ease;
}
@media (max-width: 768px) {
  #filterInput {
    width: 90%;
  }
}
#filterInput:hover {
  border-color: #ef8368;
}
#filterInput:focus {
  outline: none;
  border-color: #5172ab;
}

.book-data-table {
  width: 100%;
  border-collapse: collapse;
  margin: 10px 0 20px;
}
@media (max-width: 768px) {
  .book-data-table {
    font-weight: 450;
  }
}
.book-data-table thead {
  background-color: #8ec7ed;
  color: #fff;
}
.book-data-table thead th {
  padding: 10px;
  text-align: left;
  font-size: 22px;
}
.book-data-table tbody tr {
  border-bottom: 1px solid #ddd;
}
.book-data-table tbody tr:hover {
  background-color: #e9ecef;
}
.book-data-table tbody tr td {
  padding: 10px;
  font-size: 22px;
}
@media (max-width: 768px) {
  .book-data-table tbody tr td:first-child {
    font-size: 22px;
    padding-right: 0;
  }
}
.book-data-table tbody tr td a {
  text-decoration: none;
  color: inherit;
}
.book-data-table tbody tr td a:hover {
  text-decoration: underline;
}

.table-container {
  overflow-x: auto;
}

.little {
  font-family: "Futura PT", "roboto", sans-serif;
  font-size: 20px;
  font-weight: 450;
  line-height: 28px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  margin-bottom: 5px;
}

.highlight {
  background-color: #ef8368;
}

.book-page-cover {
  height: 512px;
  display: inline-block;
  margin-right: 60px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
}
@media (max-width: 768px) {
  .book-page-cover {
    height: auto;
    width: 100%;
  }
}

.book-page {
  margin-top: 50px;
}

.book-info {
  display: inline-block;
  margin-bottom: 100px;
}

.take-book-form p {
  margin: 0;
}
.take-book-form input {
  font-family: "Futura PT", "roboto", sans-serif;
  font-size: 22px;
  font-weight: 450;
  line-height: 28px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  width: 100px;
  border: none;
  border-bottom: 3px solid #ef8368;
  background-color: inherit;
  transition: all 0.3s ease;
}
.take-book-form input:focus {
  outline: none;
  border-color: #5172ab;
}

button {
  font-family: "Futura PT", "roboto", sans-serif;
  font-size: 22px;
  font-weight: 450;
  line-height: 28px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  padding: 10px 20px;
  border: 3px solid #ef8368;
  border-radius: 50px;
  background-color: #ef8368;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
}
button:hover {
  background-color: inherit;
  border: 3px solid black;
  color: #ef8368;
}
button:active {
  transform: scale(0.95);
}

.button {
  font-family: "Futura PT", "roboto", sans-serif;
  font-size: 22px;
  font-weight: 450;
  line-height: 28px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  padding: 10px 20px;
  border: 3px solid #ef8368;
  border-radius: 50px;
  background-color: #ef8368;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button:hover {
  background-color: inherit;
  border: 3px solid black;
  color: #ef8368;
}
.button:active {
  transform: scale(0.95);
}

.blue {
  font-family: "Futura PT", "roboto", sans-serif;
  font-size: 22px;
  font-weight: 450;
  line-height: 28px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  padding: 10px 20px;
  border: 3px solid #5172ab;
  border-radius: 50px;
  background-color: #5172ab;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
}
.blue:hover {
  background-color: inherit;
  border: 3px solid black;
  color: #5172ab;
}
.blue:active {
  transform: scale(0.95);
}

.light-blue {
  font-family: "Futura PT", "roboto", sans-serif;
  font-size: 22px;
  font-weight: 450;
  line-height: 28px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  padding: 10px 20px;
  border: 3px solid #8ec7ed;
  border-radius: 50px;
  background-color: #8ec7ed;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
}
.light-blue:hover {
  background-color: inherit;
  border: 3px solid black;
  color: #8ec7ed;
}
.light-blue:active {
  transform: scale(0.95);
}

.want_book_list {
  padding: 0;
  margin: 0;
}
.want_book_list li {
  text-decoration: none;
  list-style: none;
  margin-bottom: 20px;
}

.blue-text {
  color: #5172ab;
}

.emoji-link {
  text-decoration: none;
}

.form input, .form-register input, .form-login input {
  font-family: "Futura PT", "roboto", sans-serif;
  font-size: 22px;
  font-weight: 450;
  line-height: 28px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  width: 300px;
  padding: 6px;
  border: 2px solid #bbb;
  background-color: #f4f4f4;
  border-radius: 8px;
  transition: all 0.3s ease;
}
@media (max-width: 768px) {
  .form input, .form-register input, .form-login input {
    width: 90%;
  }
}
.form input:hover, .form-register input:hover, .form-login input:hover {
  border-color: #ef8368;
}
.form input:focus, .form-register input:focus, .form-login input:focus {
  outline: none;
  border-color: #5172ab;
}
.form select, .form-register select, .form-login select {
  font-family: "Futura PT", "roboto", sans-serif;
  font-size: 22px;
  font-weight: 450;
  line-height: 28px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  width: 300px;
  padding: 6px;
  border: 2px solid #bbb;
  background-color: #f4f4f4;
  border-radius: 8px;
  transition: all 0.3s ease;
}
@media (max-width: 768px) {
  .form select, .form-register select, .form-login select {
    width: 90%;
  }
}
.form select:hover, .form-register select:hover, .form-login select:hover {
  border-color: #ef8368;
}
.form select:focus, .form-register select:focus, .form-login select:focus {
  outline: none;
  border-color: #5172ab;
}
.form div, .form-register div, .form-login div {
  margin-bottom: 20px;
}

.form-login p {
  margin-bottom: 5px;
}
.form-login .reset {
  font-family: "Futura PT", "roboto", sans-serif;
  font-size: 22px;
  font-weight: 450;
  line-height: 28px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  text-decoration: none;
  text-decoration-style: solid;
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
  color: #5172ab;
}
.form-login .reset:hover {
  text-decoration: underline;
}

.helptext, .form-register ul li {
  font-family: "Futura PT", "roboto", sans-serif;
  font-size: 22px;
  font-weight: 450;
  line-height: 28px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #636363;
  margin-bottom: 20px;
}

.form-register p {
  margin-bottom: 5px;
  margin-top: 22px;
}
.form-register ul {
  list-style: none;
  padding: 0;
  margin: 0;
  -moz-text-align-last: left;
       text-align-last: left;
  margin-top: 22px;
}
.form-register ul li {
  margin-bottom: 10px;
}

.profile-table {
  width: 100%;
  border-collapse: collapse;
  margin: 10px 0 20px;
}
@media (max-width: 768px) {
  .profile-table {
    font-weight: 450;
  }
}
.profile-table thead {
  background-color: #5172ab;
  color: #fff;
}
.profile-table thead th {
  padding: 10px;
  text-align: left;
  font-size: 22px;
}
.profile-table tbody tr {
  border-bottom: 1px solid #ddd;
}
.profile-table tbody tr:hover {
  background-color: #e9ecef;
}
.profile-table tbody tr td {
  padding: 10px;
  font-size: 22px;
}
@media (max-width: 768px) {
  .profile-table tbody tr td:first-child {
    font-size: 22px;
    padding-right: 0;
  }
}
.profile-table tbody tr td a {
  text-decoration: none;
  color: inherit;
}
.profile-table tbody tr td a:hover {
  text-decoration: underline;
}

.rules-container {
  margin-bottom: 120px;
}
.rules-container .rules {
  font-family: "Futura PT", "roboto", sans-serif;
  font-size: 22px;
  font-weight: 450;
  line-height: 28px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  width: 50%;
}
@media (max-width: 768px) {
  .rules-container .rules {
    width: 100%;
  }
}
.rules-container .rules h3 {
  margin-top: 50px;
  margin-bottom: 10px;
}
.rules-container .rules p {
  margin-top: 0;
  margin-bottom: 20px;
}
.rules-container .rules p:last-child {
  margin-bottom: 76px;
}/*# sourceMappingURL=layout.css.map */