body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

/* Стиль для head */
.head {
    display: flex;
    justify-content: center; /* Вирівнюємо посилання по центру */
    align-items: center;
    padding: 10px 20px;
    background-color: #007bff; /* Фонова заливка */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Тінь для header */
}

/* Стиль для посилань */
.head a {
    color: white; /* Колір тексту */
    text-decoration: none; /* Забираємо підкреслення */
    font-size: 16px;
    font-weight: bold;
    margin: 0 15px; /* Відступи між посиланнями */
    padding: 8px 12px; /* Відступи всередині */
    border-radius: 4px; /* Округлені кути */
    transition: background-color 0.3s ease; /* Плавний перехід кольору */
}

/* Ефект наведення на посилання */
.head a:hover {
    background-color: white; /* Фон при наведенні */
    color: #007bff; /* Колір тексту при наведенні */
    text-decoration: underline; /* Підкреслення при наведенні */
}

/* Адаптивність для мобільних пристроїв */
@media (max-width: 600px) {
    .head {
        flex-wrap: wrap; /* Розташовуємо посилання у кілька рядків */
        padding: 15px 10px;
    }

    .head a {
        font-size: 14px;
        margin: 5px; /* Менший відступ між посиланнями */
    }
}


.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

/* Стили для заголовка */
h1 {
    text-align: center;
    color: #444;
}

/* Стили для поля ввода */
.input-table {
    margin-bottom: 20px;
    padding: 0px 20px 0px 0px;
}

#filterInput {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
}

#filterInput:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 4px rgba(0, 123, 255, 0.2);
}

/* Стили для таблицы */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

thead {
    background-color: #007bff;
    color: #fff;
}

thead th {
    padding: 10px;
    text-align: left;
    font-size: 14px;
}

tbody tr {
    border-bottom: 1px solid #ddd;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr:hover {
    background-color: #e9ecef;
}

td {
    padding: 10px;
    font-size: 14px;
}

td a {
    text-decoration: none;
    color: inherit;
}

button {
    padding: 8px 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

button:hover {
    background-color: #0056b3;
}

.highlight {
    background-color: yellow;
    color: black;
} 

@media (max-width: 600px) {
    .container {
        padding: 10px;
    }

    table {
        font-size: 12px;
    }

    button {
        font-size: 12px;
        padding: 6px 8px;
    }
}
