body {
  font-family: "Arial", sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #ebebeb;
  color: #333;
}
@media (max-width: 768px) {
  body {
    font-size: 14px;
    background-color: white;
  }
}

.head {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
}
.head .head-link, .head .menu a {
  color: #333;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  margin: 0 15px;
  padding: 8px 12px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}
.head .head-link:hover, .head .menu a:hover {
  color: #ef8368;
}
.head .menu {
  display: flex;
  flex-direction: row;
}
.head .menu-toggle {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
}
@media (max-width: 768px) {
  .head {
    justify-content: space-between;
  }
  .head .head-link.left {
    margin-right: auto;
    margin-left: 0;
  }
  .head .menu-toggle {
    display: block;
  }
  .head .menu {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 100%;
    right: 0;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    width: 100%;
  }
  .head .menu a {
    margin: 0 20px;
  }
  .head .menu.active {
    display: flex;
  }
}

.container {
  max-width: 1000px;
  margin: 20px auto;
  padding: 20px;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
@media (max-width: 768px) {
  .container {
    border-radius: none;
    box-shadow: none;
  }
}

h1 {
  text-align: center;
  color: #444;
  margin-top: 5px;
}

.input-table {
  margin-bottom: 20px;
  padding: 0 20px 0 0;
}

#filterInput {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
}
#filterInput:focus {
  outline: none;
  border-color: #9ac7e9;
  box-shadow: 0 0 4px rgba(67, 108, 162, 0.2);
}

.profile-table {
  width: 100%;
  border-collapse: collapse;
  margin: 10px 0 20px;
}
.profile-table thead {
  background-color: #9ac7e9;
  color: #fff;
}
.profile-table thead th {
  padding: 10px;
  text-align: left;
  font-size: 14px;
}
.profile-table tbody tr {
  border-bottom: 1px solid #ddd;
}
.profile-table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}
.profile-table tbody tr:hover {
  background-color: #e9ecef;
}
.profile-table tbody tr td {
  padding: 10px;
  font-size: 14px;
}
.profile-table tbody tr td a {
  text-decoration: none;
  color: #333;
}
.profile-table tbody tr td a:hover {
  text-decoration: underline;
}

.book-data-table {
  width: 100%;
  border-collapse: collapse;
  margin: 10px 0 20px;
  margin: 0;
}
.book-data-table thead {
  background-color: #9ac7e9;
  color: #fff;
}
.book-data-table thead th {
  padding: 10px;
  text-align: left;
  font-size: 14px;
}
.book-data-table tbody tr {
  border-bottom: 1px solid #ddd;
}
.book-data-table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}
.book-data-table tbody tr:hover {
  background-color: #e9ecef;
}
.book-data-table tbody tr td {
  padding: 10px;
  font-size: 14px;
}
.book-data-table tbody tr td a {
  text-decoration: none;
  color: inherit;
}
.book-data-table tbody tr td a:hover {
  text-decoration: underline;
}
@media (max-width: 768px) {
  .book-data-table thead {
    display: none;
  }
  .book-data-table tbody tr {
    display: block;
    margin-bottom: 10px;
    border-bottom: 2px solid #ef8368;
  }
  .book-data-table tbody tr td {
    padding: 5px 10px;
    display: block;
    text-align: left;
    background-color: #f2f2f2;
    position: relative;
  }
  .book-data-table tbody tr td:first-child {
    font-weight: bold;
    padding-left: 35px;
  }
  .book-data-table tbody tr td:first-child:before {
    content: "ID";
    position: absolute;
    left: 0;
    top: 0;
    color: #333;
    padding: 5px 0 5px 10px;
  }
}

.category-table {
  width: 100%;
  border-collapse: collapse;
  margin: 10px 0 20px;
  margin: 0;
}
.category-table thead {
  background-color: #9ac7e9;
  color: #fff;
}
.category-table thead th {
  padding: 10px;
  text-align: left;
  font-size: 14px;
}
.category-table tbody tr {
  border-bottom: 1px solid #ddd;
}
.category-table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}
.category-table tbody tr:hover {
  background-color: #e9ecef;
}
.category-table tbody tr td {
  padding: 10px;
  font-size: 14px;
}
.category-table tbody tr td a {
  text-decoration: none;
  color: inherit;
}
.category-table tbody tr td a:hover {
  text-decoration: underline;
}
@media (max-width: 768px) {
  .category-table thead {
    display: none;
  }
  .category-table tbody tr {
    display: block;
    margin-bottom: 10px;
    border-bottom: 2px solid #ef8368;
  }
  .category-table tbody tr td {
    padding: 5px 10px;
    display: block;
    text-align: left;
    background-color: #f2f2f2;
    position: relative;
  }
  .category-table tbody tr td:first-child {
    font-weight: bold;
    padding-left: 35px;
  }
  .category-table tbody tr td:first-child:before {
    content: "ID";
    position: absolute;
    left: 0;
    top: 0;
    color: #333;
    padding: 5px 0 5px 10px;
  }
}

.highlight {
  background-color: yellow;
  color: black;
}

.blue {
  margin: 5px;
  padding: 8px 12px;
  background-color: #436CA2;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.2s;
}
.blue:hover {
  background-color: white;
  color: #436CA2;
  text-decoration: underline;
}

.light-blue {
  margin: 5px;
  padding: 8px 12px;
  background-color: #9ac7e9;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.2s;
}
.light-blue:hover {
  background-color: white;
  color: #9ac7e9;
  text-decoration: underline;
}

.orange {
  margin: 5px;
  padding: 8px 12px;
  background-color: #ef8368;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.2s;
}
.orange:hover {
  background-color: white;
  color: #ef8368;
  text-decoration: underline;
}

.errorlist {
  padding: 0;
}
.errorlist li {
  color: red;
  list-style: none;
}

.success {
  color: #28a745;
}

.little {
  font-size: 13px;
  padding: 5px;
  color: #777;
  margin: 0;
}

.text-link {
  text-decoration: none;
  color: #007BFF;
  font-weight: 500;
  transition: color 0.1s ease;
}

.text-link:hover,
.text-link:focus {
  color: #0056b3;
  text-decoration: underline;
}

.active::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #436CA2;
}/*# sourceMappingURL=style.css.map */