{% extends "layout.html" %}

{% block menu_login %}active{% endblock %}

{% block body %}
    <h1>Log in</h1>

    {% if form.errors %}
        <p>{{ form.errors.error }}</p>
    {% endif %}

    
    <div class="form-login">
        <p>
            Увійдіть у свій акаунт. Якщо ви не маєте акаунту, 
            <a class="text-link" href="{% url 'users:register' %}">зареєструйтеся</a>.
        </p>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <a class="text-link reset" href="{% url 'books:work' %}">Forgot password?</a>
            <br>
            <button type="submit">Log in</button>
        </form>
    </div>

{% endblock %}