{% extends "layout.html" %}

{% block menu_login %}active{% endblock %}

{% block body %}
    <h1>Log in</h1>

    {% if form.errors %}
        <p>{{ form.errors.error }}</p>
    {% endif %}

    <p>
        Зайдіть у свій акаунт. Якщо ви не маєте акаунту, 
        <a class="text-link" href="{% url 'users:register' %}">зареєструйтеся</a>.
    </p>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="light-blue" type="submit">Log in</button>
    </form>

    <a class="text-link" href="{% url 'books:work' %}">Forgot password?</a>
{% endblock %}