{% extends "books/layout.html" %}

{% block body %}
    <h1>Profile</h1>

    <p>Information about account:</p>
    <ul>
    <li>Username: {{ user.username }}</li>
    <li>First name: {{ user.first_name }}</li>
    <li>Last name: {{ user.last_name }}</li>
    <li>Email: {{ user.email }}</li>
    <li>Grade: {{ user.role }}</li>
    <li>Telegram: {{ user.telegram_tag }}</li>
    </ul>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    {% if taking_books %}
    <p>Взяті книги:</p>
    <form action="{% url 'take_book:return_book' %}" method="post">
    {% csrf_token %}
    <table class="profile-table">
        <thead>
            <tr>
                <th>Книга</th>
                <th>Дата взяття</th>
                <th>Дата повернення</th>
            </tr>
        </thead>
    {% for book in taking_books %}
        <tr>
            <td>{{ book.book }}</td>
            <td>{{ book.take_date }}</td>
            <td><button class="orange" type="submit" name="book_num" value="{{ book.book.num }}">Повернути</button></td>
        </tr>
    {% endfor %}
    </table>
    </form>
    {% else %}
    <p>Ви ще не взяли жодної книги. Це можна зробити на сторінці <a href="{% url 'take_book:take_book' %}">Взяти книгу</a>.</p>
    {% endif %}

    <a href="{% url 'users:edit_profile' %}">Edit profile</a>
    <form action="{% url 'users:logout' %}" method="post">
        {% csrf_token %}
        <button class="orange" tylie="submit">Logout</button>
    </form>
{% endblock %}