$blue: #436CA2;
$light-blue: #9ac7e9;
$orange: #ef8368;
$link-color: #007bff;
$link-color-hover: #0056b3;
$base-color: #333;
$max-width: 800px;
$base-font-size: 18px;
$small-font-size: 14px;
$mobile-font-size: 14px;
$base-padding: 8px 12px;
$box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
$bored-size: 2px;
$transition: all 0.3s ease;
$footer-gap: 50px;
$gap: 20px;


body {
    font-family: "ftnk", "Noto Sans", sans-serif;
    line-height: 1.6;
    height: 100%;
    margin: 0;
    padding: 0;
    color: #333;

    @media (max-width: 768px) {
        font-size: $mobile-font-size;
    }
}

// header
.head {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    position: relative;
    z-index: 100;

    .head-link {
        color: $base-color;
        text-decoration: none;
        font-size: $base-font-size;
        font-weight: bold;
        margin: 0 15px;
        padding: $base-padding;
        transition: all 0.3s ease;

        &:hover {
            color: $orange;
        }
    }

    .menu {
        display: flex;
        flex-direction: row;
    }
    
    .menu-toggle {
        display: none;
        font-size: 24px;
        background: none;
        border: none;
        cursor: pointer;
    }
    
    @media (max-width: 768px) {
        justify-content: space-between;

        .head-link.left {
            margin-right: auto;
            margin-left: 0;
        }
    
        .menu-toggle {
            display: block;
        }
    
        .menu {
            display: none;
            flex-direction: column;
            align-items: center;
            position: absolute;
            top: 100%;
            right: 0;
            background: #fff;
            box-shadow: $box-shadow;
            border-radius: 4px;
            width: 100%;

            a {
                margin: 0 20px;
            }
        }
    
        .menu.active {
            display: flex;
        }
    }
}

.active::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: $blue;
}

.container {
    max-width: $max-width;
    margin: 20px auto;
    padding: 20px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

@mixin content($width: 50%, $color: $light-blue, $color_button: $light-blue) {
    display: block;
    width: $width;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 20px;
    border: $bored-size solid $color;
    border-radius: 8px;
    box-shadow: $box-shadow;
    box-sizing: border-box;

    h3 {
        text-align: left;
        margin-top: 40px;
        margin-bottom: 0;

        &:first-child {
            margin-top: 16px;
        }
    }

    @media (max-width: 768px) {
        width: 100%;
    }
}

.content {
    @include content();
}

.book {
    @include content(50%)
}

h1 {
    text-align: center;
    color: #444;
    margin-top: 10px;

    @media (max-width: 768px) {
        margin-top: 0;
    }
}

h3 {
    font-size: $base-font-size;
    margin-bottom: 10px;
    text-align: center;
}

.help {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: $gap;
    justify-content: center;

    div {
        border-radius: 8px;
        background-color: $light-blue;
        color: #fff;
        padding: 15px;
        text-align: left;
    
        &:hover {
            background-color: $orange;
            transform: scale(1.02);
            transition: $transition;
        }
    
        p {
            font-size: $small-font-size;
            line-height: 1.5;
        }
    
        a {
            text-decoration: underline;
            color: #fff;

            &:hover {
                color: #ccc;
            }
        }
    }
}

.input-table {
    margin-bottom: 20px;
    padding: 0 20px 0 0;
}

#filterInput {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: $small-font-size;
    transition: all 0.3s ease;

    &:hover {
        border-color: $orange;
    }

    &:focus {
        outline: none;
        border-color: $blue;
        box-shadow: $box-shadow;
    }
}

.highlight {
    background-color: $blue;
    color: #fff;
}

@mixin table($color: $light-blue, $hover-color: #e9ecef, $color-link: inherit) {
    width: 100%;
    border-collapse: collapse;
    margin: 10px 0 20px;

    thead {
        background-color: $color;
        color: #fff;

        th {
            padding: 10px;
            text-align: left;
            font-size: $small-font-size;
        }
    }

    tbody {
        tr {
            border-bottom: 1px solid #ddd;

            // &:nth-child(even) {
            //     background-color: #f2f2f2;
            // }

            &:hover {
                background-color: $hover-color;
            }

            td {
                padding: 10px;
                font-size: $small-font-size;

                a {
                    text-decoration: none;
                    color: $color-link;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

@mixin mobile-table() {
    @media (max-width: 768px) {
        thead {
            display: none;
        }

        tbody {
            tr {
                display: block;
                margin-bottom: 10px;
                border-bottom: 2px solid $light-blue;

                td {
                    padding: 5px 10px;
                    display: block;
                    text-align: left;
                    background-color: #f2f2f2;
                    position: relative;
                    z-index: 1;
                }

                td:first-child {
                    font-weight: bold;
                }
            }
        }
    }
}

.book-data-table {
    @include table();
    @include mobile-table();
    margin: 0;
}

.profile-table {
    @include table($color-link: #333);
    margin-top: 0;
}

.detail-table {
    @include table();
    @include mobile-table();
}

@mixin button($color) {
    margin: 5px;
    padding: $base-padding;
    background-color: $color;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: $small-font-size;
    transition: $transition;

    &:hover {
        background-color: #fff;
        color: $color;
        text-decoration: underline;
    }
}

.blue {
    @include button($blue);
}
.light-blue {
    @include button($light-blue);
}
.orange {
    @include button($orange);
}
.button-table {
    color: $orange;
    font-weight: bold;
    text-decoration: underline;
    background-color: transparent;
    border: none;
    cursor: pointer;

    &:hover {
        color: $light-blue;
    }
}

.errorlist {
    li {
        color: #ff0000;
        list-style: none;
    }
    padding: 0;
}
.success {
    color: #28a745;
}

.little {
    font-size: $small-font-size - 1px;
    padding: 5px;
    color: #777;
    margin: 0;
}

.margin-top {
    margin-top: 20px;
}

.center {
    text-align: center;
}

.text-link {
    text-decoration: none;
    color: $link-color;
    font-weight: 500;
    transition: $transition;

    &:hover,
    &:focus {
        color: $link-color-hover;
    }
}

@mixin form($width: 80%, $color: $light-blue, $color_button: $light-blue) {
    @include content($width, $color, $color_button);
    font-size: $small-font-size;

    label {
        display: block;
        margin-bottom: 5px;
        pointer-events: none; /* Вимикає події наведення для label */
    }

    input,
    select {
        width: 100%;
        padding: 8px;
        border: 1px solid #ddd;
        border-radius: 4px;
        box-sizing: border-box;

        &:focus {
            outline: none;
            border-color: $blue;
            box-shadow: $box-shadow;
        }

        &:hover {
            border-color: $orange;
            transition: $transition;
        }
    }

    select {
        background-color: #f9f9f9;
        color: $base-color;
        cursor: pointer;

        &:hover {
            background-color: #e6e6e6;
        }
    }

    ul {
        margin-right: 16px;
        color: #777;
        font-size: $small-font-size;
        margin-top: 5px;
    }

    button {
        @include button($color_button);
        margin-top: 10px;
    }
}

.book {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-bottom: 20px;

    .cover {
        width: 100%;
        float: left;
        border-radius: 8px;
        box-shadow: 0 0 4px rgba(67, 108, 162, 0.2);
    }

    .book-info {
        display: flex;
        @include form(100%, $light-blue);
        align-items: center;
        margin-bottom: 0;
    }

    @media (max-width: 768px) {
        grid-template-columns: 1fr;
        
        .cover {
            display: none;
        }
    }
}

.form-login {
    @include form(40%);

    p {
        margin-bottom: 0;
    }

    #id_password {
        margin-bottom: 5px;
    }

}

.take-book-form {
    @include form(50%);

    p {
        margin-bottom: 5px;
    }
}

.reset {
    font-size: $small-font-size;
    margin-top: 0;
}

.form-register {
    @include form(50%, $color_button: $blue);
}

.form {
    @include form(50%);
}

.flex-container {
    margin-top: 16px;
    margin-bottom: 16px;
}

.helptext {
    color: #777;
    font-size: $small-font-size;
    margin-top: 5px;
}

.ml {
    margin-left: 25%;
    @media (max-width: 768px) {
        margin-left: 5px;
    }
}

.footer {
    background-color: black;
    color: white;
    padding-bottom: 20px;
    margin-top: auto;
    position: relative;
    z-index: 100;
    border-top: 3px solid $orange;
    
    
    .footer-container {
        max-width: $max-width;
        margin: 20px auto;
        padding: 20px;
    }
    

    .footer-logo {
        display: flex;
        margin: 70px auto;
        align-items: center;
    }

    .footer-logo-ios {
        width: 100px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        margin-bottom: 40px;
    }

    .footer-content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin: auto;
        margin-top: auto;
        gap: $footer-gap;
        justify-content: left;

        p {
            font-size: $small-font-size;
            letter-spacing: 2px;
            color: #999;
            margin: 0;
            text-align: left;
        }

        ul {
            list-style: none;
            padding: 0;
            text-align: left;
            margin-top: 0;
    
            li {
                text-align: left;
            }
        }
    }

    a {
        color: #fff;
        text-decoration: none;
        font-weight: bold;
        transition: $transition;
        font-size: $small-font-size;

        &:hover {
            color: $orange;
        }
    }

    @media (max-width: 768px) {
        .footer-content {
            grid-template-columns: repeat(1, 1fr);
            gap: $footer-gap;
            justify-content: center;

            .footer-group {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                p {
                    text-align: center;
                }

                ul {
                    text-align: center;

                    li {
                        text-align: center;
                    }
                }
            }
        }
    }
}

.copyright {
    text-align: center;
    font-size: $small-font-size;
    color: #999;
    margin-top: 50px;
}

.find-error {
    font-size: $small-font-size;
    margin-top: 50px;
    margin-bottom: 10px;
    color: #777;

    @media (max-width: 768px) {
        text-align: center;
    }
}

.librarians {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: $gap;
    align-items: center;
    justify-content: center;

    h3 {
        text-align: center;
        margin: 0;
    }

    ul {
        display: contents;

        li {
            display: flex;
            align-items: center;
            justify-content: left;
            margin: 10px;
        }
    }

    p {
        font-size: $base-font-size;
        margin: 0;
    }

    @media (max-width: 768px) {
        grid-template-columns: repeat(1, 1fr);
    }
}

.librarians-avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;

    @media (max-width: 768px) {
        width: 80px;
        height: 80px;
    }
}

.rules {
    @include content(70%);
}