@charset "UTF-8";
body {
  font-family: "ftnk", "Noto Sans", sans-serif;
  line-height: 1.6;
  height: 100%;
  margin: 0;
  padding: 0;
  color: #333;
}
@media (max-width: 768px) {
  body {
    font-size: 14px;
  }
}

.head {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
  position: relative;
  z-index: 100;
}
.head .head-link {
  color: #333;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  margin: 0 15px;
  padding: 8px 12px;
  transition: all 0.3s ease;
}
.head .head-link:hover {
  color: #ef8368;
}
.head .menu {
  display: flex;
  flex-direction: row;
}
.head .menu-toggle {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
}
@media (max-width: 768px) {
  .head {
    justify-content: space-between;
  }
  .head .head-link.left {
    margin-right: auto;
    margin-left: 0;
  }
  .head .menu-toggle {
    display: block;
  }
  .head .menu {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 100%;
    right: 0;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    width: 100%;
  }
  .head .menu a {
    margin: 0 20px;
  }
  .head .menu.active {
    display: flex;
  }
}

.active::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #436CA2;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  display: block;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 20px;
  border: 2px solid #9ac7e9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}
.content h3 {
  text-align: left;
  margin-top: 40px;
  margin-bottom: 0;
}
.content h3:first-child {
  margin-top: 16px;
}
@media (max-width: 768px) {
  .content {
    width: 100%;
  }
}

.book {
  display: block;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 20px;
  border: 2px solid #9ac7e9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}
.book h3 {
  text-align: left;
  margin-top: 40px;
  margin-bottom: 0;
}
.book h3:first-child {
  margin-top: 16px;
}
@media (max-width: 768px) {
  .book {
    width: 100%;
  }
}

h1 {
  text-align: center;
  color: #444;
  margin-top: 10px;
}
@media (max-width: 768px) {
  h1 {
    margin-top: 0;
  }
}

h3 {
  font-size: 18px;
  margin-bottom: 10px;
  text-align: center;
}

.help {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  justify-content: center;
}
.help div {
  border-radius: 8px;
  background-color: #9ac7e9;
  color: #fff;
  padding: 15px;
  text-align: left;
}
.help div:hover {
  background-color: #ef8368;
  transform: scale(1.02);
  transition: all 0.3s ease;
}
.help div p {
  font-size: 14px;
  line-height: 1.5;
}
.help div a {
  text-decoration: underline;
  color: #fff;
}
.help div a:hover {
  color: #ccc;
}

.input-table {
  margin-bottom: 20px;
  padding: 0 20px 0 0;
}

#filterInput {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
  transition: all 0.3s ease;
}
#filterInput:hover {
  border-color: #ef8368;
}
#filterInput:focus {
  outline: none;
  border-color: #436CA2;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.highlight {
  background-color: #436CA2;
  color: #fff;
}

.book-data-table {
  width: 100%;
  border-collapse: collapse;
  margin: 10px 0 20px;
  margin: 0;
}
.book-data-table thead {
  background-color: #9ac7e9;
  color: #fff;
}
.book-data-table thead th {
  padding: 10px;
  text-align: left;
  font-size: 14px;
}
.book-data-table tbody tr {
  border-bottom: 1px solid #ddd;
}
.book-data-table tbody tr:hover {
  background-color: #e9ecef;
}
.book-data-table tbody tr td {
  padding: 10px;
  font-size: 14px;
}
.book-data-table tbody tr td a {
  text-decoration: none;
  color: inherit;
}
.book-data-table tbody tr td a:hover {
  text-decoration: underline;
}
@media (max-width: 768px) {
  .book-data-table thead {
    display: none;
  }
  .book-data-table tbody tr {
    display: block;
    margin-bottom: 10px;
    border-bottom: 2px solid #9ac7e9;
  }
  .book-data-table tbody tr td {
    padding: 5px 10px;
    display: block;
    text-align: left;
    background-color: #f2f2f2;
    position: relative;
    z-index: 1;
  }
  .book-data-table tbody tr td:first-child {
    font-weight: bold;
  }
}

.profile-table {
  width: 100%;
  border-collapse: collapse;
  margin: 10px 0 20px;
  margin-top: 0;
}
.profile-table thead {
  background-color: #9ac7e9;
  color: #fff;
}
.profile-table thead th {
  padding: 10px;
  text-align: left;
  font-size: 14px;
}
.profile-table tbody tr {
  border-bottom: 1px solid #ddd;
}
.profile-table tbody tr:hover {
  background-color: #e9ecef;
}
.profile-table tbody tr td {
  padding: 10px;
  font-size: 14px;
}
.profile-table tbody tr td a {
  text-decoration: none;
  color: #333;
}
.profile-table tbody tr td a:hover {
  text-decoration: underline;
}

.detail-table {
  width: 100%;
  border-collapse: collapse;
  margin: 10px 0 20px;
}
.detail-table thead {
  background-color: #9ac7e9;
  color: #fff;
}
.detail-table thead th {
  padding: 10px;
  text-align: left;
  font-size: 14px;
}
.detail-table tbody tr {
  border-bottom: 1px solid #ddd;
}
.detail-table tbody tr:hover {
  background-color: #e9ecef;
}
.detail-table tbody tr td {
  padding: 10px;
  font-size: 14px;
}
.detail-table tbody tr td a {
  text-decoration: none;
  color: inherit;
}
.detail-table tbody tr td a:hover {
  text-decoration: underline;
}
@media (max-width: 768px) {
  .detail-table thead {
    display: none;
  }
  .detail-table tbody tr {
    display: block;
    margin-bottom: 10px;
    border-bottom: 2px solid #9ac7e9;
  }
  .detail-table tbody tr td {
    padding: 5px 10px;
    display: block;
    text-align: left;
    background-color: #f2f2f2;
    position: relative;
    z-index: 1;
  }
  .detail-table tbody tr td:first-child {
    font-weight: bold;
  }
}

.blue {
  margin: 5px;
  padding: 8px 12px;
  background-color: #436CA2;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: all 0.3s ease;
}
.blue:hover {
  background-color: #fff;
  color: #436CA2;
  text-decoration: underline;
}

.light-blue {
  margin: 5px;
  padding: 8px 12px;
  background-color: #9ac7e9;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: all 0.3s ease;
}
.light-blue:hover {
  background-color: #fff;
  color: #9ac7e9;
  text-decoration: underline;
}

.orange {
  margin: 5px;
  padding: 8px 12px;
  background-color: #ef8368;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: all 0.3s ease;
}
.orange:hover {
  background-color: #fff;
  color: #ef8368;
  text-decoration: underline;
}

.button-table {
  color: #ef8368;
  font-weight: bold;
  text-decoration: underline;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.button-table:hover {
  color: #9ac7e9;
}

.errorlist {
  padding: 0;
}
.errorlist li {
  color: #ff0000;
  list-style: none;
}

.success {
  color: #28a745;
}

.little {
  font-size: 13px;
  padding: 5px;
  color: #777;
  margin: 0;
}

.margin-top {
  margin-top: 20px;
}

.center {
  text-align: center;
}

.text-link {
  text-decoration: none;
  color: #007bff;
  font-weight: 500;
  transition: all 0.3s ease;
}
.text-link:hover, .text-link:focus {
  color: #0056b3;
}

.book {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-bottom: 20px;
}
.book .cover {
  width: 100%;
  float: left;
  border-radius: 8px;
  box-shadow: 0 0 4px rgba(67, 108, 162, 0.2);
}
.book .book-info {
  display: flex;
  display: block;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 20px;
  border: 2px solid #9ac7e9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  font-size: 14px;
  align-items: center;
  margin-bottom: 0;
}
.book .book-info h3 {
  text-align: left;
  margin-top: 40px;
  margin-bottom: 0;
}
.book .book-info h3:first-child {
  margin-top: 16px;
}
@media (max-width: 768px) {
  .book .book-info {
    width: 100%;
  }
}
.book .book-info label {
  display: block;
  margin-bottom: 5px;
  pointer-events: none; /* Вимикає події наведення для label */
}
.book .book-info input,
.book .book-info select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}
.book .book-info input:focus,
.book .book-info select:focus {
  outline: none;
  border-color: #436CA2;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.book .book-info input:hover,
.book .book-info select:hover {
  border-color: #ef8368;
  transition: all 0.3s ease;
}
.book .book-info select {
  background-color: #f9f9f9;
  color: #333;
  cursor: pointer;
}
.book .book-info select:hover {
  background-color: #e6e6e6;
}
.book .book-info ul {
  margin-right: 16px;
  color: #777;
  font-size: 14px;
  margin-top: 5px;
}
.book .book-info button {
  margin: 5px;
  padding: 8px 12px;
  background-color: #9ac7e9;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: all 0.3s ease;
  margin-top: 10px;
}
.book .book-info button:hover {
  background-color: #fff;
  color: #9ac7e9;
  text-decoration: underline;
}
@media (max-width: 768px) {
  .book {
    grid-template-columns: 1fr;
  }
  .book .cover {
    display: none;
  }
}

.form-login {
  display: block;
  width: 40%;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 20px;
  border: 2px solid #9ac7e9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  font-size: 14px;
}
.form-login h3 {
  text-align: left;
  margin-top: 40px;
  margin-bottom: 0;
}
.form-login h3:first-child {
  margin-top: 16px;
}
@media (max-width: 768px) {
  .form-login {
    width: 100%;
  }
}
.form-login label {
  display: block;
  margin-bottom: 5px;
  pointer-events: none; /* Вимикає події наведення для label */
}
.form-login input,
.form-login select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}
.form-login input:focus,
.form-login select:focus {
  outline: none;
  border-color: #436CA2;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.form-login input:hover,
.form-login select:hover {
  border-color: #ef8368;
  transition: all 0.3s ease;
}
.form-login select {
  background-color: #f9f9f9;
  color: #333;
  cursor: pointer;
}
.form-login select:hover {
  background-color: #e6e6e6;
}
.form-login ul {
  margin-right: 16px;
  color: #777;
  font-size: 14px;
  margin-top: 5px;
}
.form-login button {
  margin: 5px;
  padding: 8px 12px;
  background-color: #9ac7e9;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: all 0.3s ease;
  margin-top: 10px;
}
.form-login button:hover {
  background-color: #fff;
  color: #9ac7e9;
  text-decoration: underline;
}
.form-login p {
  margin-bottom: 0;
}
.form-login #id_password {
  margin-bottom: 5px;
}

.take-book-form {
  display: block;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 20px;
  border: 2px solid #9ac7e9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  font-size: 14px;
}
.take-book-form h3 {
  text-align: left;
  margin-top: 40px;
  margin-bottom: 0;
}
.take-book-form h3:first-child {
  margin-top: 16px;
}
@media (max-width: 768px) {
  .take-book-form {
    width: 100%;
  }
}
.take-book-form label {
  display: block;
  margin-bottom: 5px;
  pointer-events: none; /* Вимикає події наведення для label */
}
.take-book-form input,
.take-book-form select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}
.take-book-form input:focus,
.take-book-form select:focus {
  outline: none;
  border-color: #436CA2;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.take-book-form input:hover,
.take-book-form select:hover {
  border-color: #ef8368;
  transition: all 0.3s ease;
}
.take-book-form select {
  background-color: #f9f9f9;
  color: #333;
  cursor: pointer;
}
.take-book-form select:hover {
  background-color: #e6e6e6;
}
.take-book-form ul {
  margin-right: 16px;
  color: #777;
  font-size: 14px;
  margin-top: 5px;
}
.take-book-form button {
  margin: 5px;
  padding: 8px 12px;
  background-color: #9ac7e9;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: all 0.3s ease;
  margin-top: 10px;
}
.take-book-form button:hover {
  background-color: #fff;
  color: #9ac7e9;
  text-decoration: underline;
}
.take-book-form p {
  margin-bottom: 5px;
}

.reset {
  font-size: 14px;
  margin-top: 0;
}

.form-register {
  display: block;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 20px;
  border: 2px solid #9ac7e9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  font-size: 14px;
}
.form-register h3 {
  text-align: left;
  margin-top: 40px;
  margin-bottom: 0;
}
.form-register h3:first-child {
  margin-top: 16px;
}
@media (max-width: 768px) {
  .form-register {
    width: 100%;
  }
}
.form-register label {
  display: block;
  margin-bottom: 5px;
  pointer-events: none; /* Вимикає події наведення для label */
}
.form-register input,
.form-register select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}
.form-register input:focus,
.form-register select:focus {
  outline: none;
  border-color: #436CA2;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.form-register input:hover,
.form-register select:hover {
  border-color: #ef8368;
  transition: all 0.3s ease;
}
.form-register select {
  background-color: #f9f9f9;
  color: #333;
  cursor: pointer;
}
.form-register select:hover {
  background-color: #e6e6e6;
}
.form-register ul {
  margin-right: 16px;
  color: #777;
  font-size: 14px;
  margin-top: 5px;
}
.form-register button {
  margin: 5px;
  padding: 8px 12px;
  background-color: #436CA2;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: all 0.3s ease;
  margin-top: 10px;
}
.form-register button:hover {
  background-color: #fff;
  color: #436CA2;
  text-decoration: underline;
}

.form {
  display: block;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 20px;
  border: 2px solid #9ac7e9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  font-size: 14px;
}
.form h3 {
  text-align: left;
  margin-top: 40px;
  margin-bottom: 0;
}
.form h3:first-child {
  margin-top: 16px;
}
@media (max-width: 768px) {
  .form {
    width: 100%;
  }
}
.form label {
  display: block;
  margin-bottom: 5px;
  pointer-events: none; /* Вимикає події наведення для label */
}
.form input,
.form select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}
.form input:focus,
.form select:focus {
  outline: none;
  border-color: #436CA2;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.form input:hover,
.form select:hover {
  border-color: #ef8368;
  transition: all 0.3s ease;
}
.form select {
  background-color: #f9f9f9;
  color: #333;
  cursor: pointer;
}
.form select:hover {
  background-color: #e6e6e6;
}
.form ul {
  margin-right: 16px;
  color: #777;
  font-size: 14px;
  margin-top: 5px;
}
.form button {
  margin: 5px;
  padding: 8px 12px;
  background-color: #9ac7e9;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: all 0.3s ease;
  margin-top: 10px;
}
.form button:hover {
  background-color: #fff;
  color: #9ac7e9;
  text-decoration: underline;
}

.flex-container {
  margin-top: 16px;
  margin-bottom: 16px;
}

.helptext {
  color: #777;
  font-size: 14px;
  margin-top: 5px;
}

.ml {
  margin-left: 25%;
}
@media (max-width: 768px) {
  .ml {
    margin-left: 5px;
  }
}

.footer {
  background-color: black;
  color: white;
  padding-bottom: 20px;
  margin-top: auto;
  position: relative;
  z-index: 100;
  border-top: 3px solid #ef8368;
}
.footer .footer-container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
}
.footer .footer-logo {
  display: flex;
  margin: 70px auto;
  align-items: center;
}
.footer .footer-logo-ios {
  width: 100px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
.footer .footer-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: auto;
  margin-top: auto;
  gap: 50px;
  justify-content: left;
}
.footer .footer-content p {
  font-size: 14px;
  letter-spacing: 2px;
  color: #999;
  margin: 0;
  text-align: left;
}
.footer .footer-content ul {
  list-style: none;
  padding: 0;
  text-align: left;
  margin-top: 0;
}
.footer .footer-content ul li {
  text-align: left;
}
.footer a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s ease;
  font-size: 14px;
}
.footer a:hover {
  color: #ef8368;
}
@media (max-width: 768px) {
  .footer .footer-content {
    grid-template-columns: repeat(1, 1fr);
    gap: 50px;
    justify-content: center;
  }
  .footer .footer-content .footer-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .footer .footer-content .footer-group p {
    text-align: center;
  }
  .footer .footer-content .footer-group ul {
    text-align: center;
  }
  .footer .footer-content .footer-group ul li {
    text-align: center;
  }
}

.copyright {
  text-align: center;
  font-size: 14px;
  color: #999;
  margin-top: 50px;
}

.find-error {
  font-size: 14px;
  margin-top: 50px;
  margin-bottom: 10px;
  color: #777;
}
@media (max-width: 768px) {
  .find-error {
    text-align: center;
  }
}

.librarians {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  align-items: center;
  justify-content: center;
}
.librarians h3 {
  text-align: center;
  margin: 0;
}
.librarians ul {
  display: contents;
}
.librarians ul li {
  display: flex;
  align-items: center;
  justify-content: left;
  margin: 10px;
}
.librarians p {
  font-size: 18px;
  margin: 0;
}
@media (max-width: 768px) {
  .librarians {
    grid-template-columns: repeat(1, 1fr);
  }
}

.librarians-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 20px;
}
@media (max-width: 768px) {
  .librarians-avatar {
    width: 80px;
    height: 80px;
  }
}

.rules {
  display: block;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 20px;
  border: 2px solid #9ac7e9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}
.rules h3 {
  text-align: left;
  margin-top: 40px;
  margin-bottom: 0;
}
.rules h3:first-child {
  margin-top: 16px;
}
@media (max-width: 768px) {
  .rules {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */