@charset "UTF-8";
body {
  font-family: "ftnk", "Noto Sans", sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: #333;
}
@media (max-width: 768px) {
  body {
    font-size: 14px;
    background-color: white;
  }
}

.head {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  background-color: white;
  position: relative;
  z-index: 100;
}
.head .head-link, .head .menu a {
  color: #333;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  margin: 0 15px;
  padding: 8px 12px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}
.head .head-link:hover, .head .menu a:hover {
  color: #ef8368;
}
.head .menu {
  display: flex;
  flex-direction: row;
}
.head .menu-toggle {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
}
@media (max-width: 768px) {
  .head {
    justify-content: space-between;
  }
  .head .head-link.left {
    margin-right: auto;
    margin-left: 0;
  }
  .head .menu-toggle {
    display: block;
  }
  .head .menu {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 100%;
    right: 0;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    width: 100%;
  }
  .head .menu a {
    margin: 0 20px;
  }
  .head .menu.active {
    display: flex;
  }
}

.active::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #436CA2;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #444;
  margin-top: 5px;
}

.help-index {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  justify-content: center;
}
.help-index div {
  border-radius: 8px;
  background-color: #9ac7e9;
  color: white;
  padding: 15px;
  text-align: left;
}
.help-index div:hover {
  background-color: #ef8368;
  transform: scale(1.02);
  transition: all 0.3s ease;
}
.help-index div h3 {
  font-size: 18px;
  margin-bottom: 10px;
  text-align: center;
}
.help-index div p {
  font-size: 14px;
  line-height: 1.5;
}
.help-index div a {
  text-decoration: underline;
  color: white;
}
.help-index div a:hover {
  color: #eaeaea;
}

.input-table {
  margin-bottom: 20px;
  padding: 0 20px 0 0;
}

#filterInput {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
}
#filterInput:hover {
  border-color: #ef8368;
  transition: all 0.3s ease;
}
#filterInput:focus {
  outline: none;
  border-color: #9ac7e9;
  box-shadow: 0 0 4px rgba(67, 108, 162, 0.2);
}

.profile-table {
  width: 100%;
  border-collapse: collapse;
  margin: 10px 0 20px;
}
.profile-table thead {
  background-color: #9ac7e9;
  color: #fff;
}
.profile-table thead th {
  padding: 10px;
  text-align: left;
  font-size: 14px;
}
.profile-table tbody tr {
  border-bottom: 1px solid #ddd;
}
.profile-table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}
.profile-table tbody tr:hover {
  background-color: #e9ecef;
}
.profile-table tbody tr td {
  padding: 10px;
  font-size: 14px;
}
.profile-table tbody tr td a {
  text-decoration: none;
  color: #333;
}
.profile-table tbody tr td a:hover {
  text-decoration: underline;
}

.book-data-table {
  width: 100%;
  border-collapse: collapse;
  margin: 10px 0 20px;
  margin: 0;
}
.book-data-table thead {
  background-color: #9ac7e9;
  color: #fff;
}
.book-data-table thead th {
  padding: 10px;
  text-align: left;
  font-size: 14px;
}
.book-data-table tbody tr {
  border-bottom: 1px solid #ddd;
}
.book-data-table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}
.book-data-table tbody tr:hover {
  background-color: #e9ecef;
}
.book-data-table tbody tr td {
  padding: 10px;
  font-size: 14px;
}
.book-data-table tbody tr td a {
  text-decoration: none;
  color: inherit;
}
.book-data-table tbody tr td a:hover {
  text-decoration: underline;
}
@media (max-width: 768px) {
  .book-data-table thead {
    display: none;
  }
  .book-data-table tbody tr {
    display: block;
    margin-bottom: 10px;
    border-bottom: 2px solid #9ac7e9;
  }
  .book-data-table tbody tr td {
    padding: 5px 10px;
    display: block;
    text-align: left;
    background-color: #f2f2f2;
    position: relative;
    z-index: 1;
  }
  .book-data-table tbody tr td:first-child {
    font-weight: bold;
  }
}

.category-table {
  width: 100%;
  border-collapse: collapse;
  margin: 10px 0 20px;
}
.category-table thead {
  background-color: #9ac7e9;
  color: #fff;
}
.category-table thead th {
  padding: 10px;
  text-align: left;
  font-size: 14px;
}
.category-table tbody tr {
  border-bottom: 1px solid #ddd;
}
.category-table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}
.category-table tbody tr:hover {
  background-color: #e9ecef;
}
.category-table tbody tr td {
  padding: 10px;
  font-size: 14px;
}
.category-table tbody tr td a {
  text-decoration: none;
  color: inherit;
}
.category-table tbody tr td a:hover {
  text-decoration: underline;
}
@media (max-width: 768px) {
  .category-table thead {
    display: none;
  }
  .category-table tbody tr {
    display: block;
    margin-bottom: 10px;
    border-bottom: 2px solid #9ac7e9;
  }
  .category-table tbody tr td {
    padding: 5px 10px;
    display: block;
    text-align: left;
    background-color: #f2f2f2;
    position: relative;
    z-index: 1;
  }
  .category-table tbody tr td:first-child {
    font-weight: bold;
  }
}

.highlight {
  background-color: #436CA2;
  color: white;
}

.blue {
  margin: 5px;
  padding: 8px 12px;
  background-color: #436CA2;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.2s;
}
.blue:hover {
  background-color: white;
  color: #436CA2;
  text-decoration: underline;
}

.light-blue {
  margin: 5px;
  padding: 8px 12px;
  background-color: #9ac7e9;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.2s;
}
.light-blue:hover {
  background-color: white;
  color: #9ac7e9;
  text-decoration: underline;
}

.orange {
  margin: 5px;
  padding: 8px 12px;
  background-color: #ef8368;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.2s;
}
.orange:hover {
  background-color: white;
  color: #ef8368;
  text-decoration: underline;
}

.disabled {
  margin: 5px;
  padding: 8px 12px;
  background-color: #ccc;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.2s;
  cursor: not-allowed;
}
.disabled:hover {
  background-color: white;
  color: #ccc;
  text-decoration: underline;
}

.button-table {
  color: #ef8368;
  font-weight: bold;
  text-decoration: underline;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.button-table:hover {
  color: #9ac7e9;
}

.errorlist {
  padding: 0;
}
.errorlist li {
  color: red;
  list-style: none;
}

.success {
  color: #28a745;
}

.little {
  font-size: 13px;
  padding: 5px;
  color: #777;
  margin: 0;
}

.margin-top {
  margin-top: 20px;
}

.text-link {
  text-decoration: none;
  color: #007BFF;
  font-weight: 500;
  transition: color 0.1s ease;
}
.text-link:hover {
  color: #0056b3;
}
.text-link:focus {
  color: #0056b3;
}

.form-login {
  display: block;
  width: 40%;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 20px;
  border: 2px solid #9ac7e9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}
.form-login label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
  pointer-events: none; /* Вимикає події наведення для label */
}
.form-login input,
.form-login select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
  box-sizing: border-box;
}
.form-login input:focus,
.form-login select:focus {
  outline: none;
  border-color: #436CA2;
  box-shadow: 0 0 4px rgba(67, 108, 162, 0.2);
}
.form-login input:hover,
.form-login select:hover {
  border-color: #ef8368;
  transition: all 0.3s ease;
}
.form-login select {
  background-color: #f9f9f9;
  color: #333;
  cursor: pointer;
}
.form-login select:hover {
  background-color: #e6e6e6;
}
.form-login ul {
  margin-right: 16px;
  color: #777;
  font-size: 14px;
  margin-top: 5px;
}
.form-login button {
  margin: 5px;
  padding: 8px 12px;
  background-color: #9ac7e9;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.2s;
}
.form-login button:hover {
  background-color: white;
  color: #9ac7e9;
  text-decoration: underline;
}
@media (max-width: 768px) {
  .form-login {
    width: 100%;
  }
}
.form-login p {
  margin-bottom: 0;
}
.form-login .reset {
  font-size: 14px;
}
.form-login button {
  margin: 5px;
  padding: 8px 12px;
  background-color: #9ac7e9;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.2s;
  margin-top: 10px;
}
.form-login button:hover {
  background-color: white;
  color: #9ac7e9;
  text-decoration: underline;
}

.form-register {
  display: block;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 20px;
  border: 2px solid #9ac7e9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}
.form-register label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
  pointer-events: none; /* Вимикає події наведення для label */
}
.form-register input,
.form-register select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
  box-sizing: border-box;
}
.form-register input:focus,
.form-register select:focus {
  outline: none;
  border-color: #436CA2;
  box-shadow: 0 0 4px rgba(67, 108, 162, 0.2);
}
.form-register input:hover,
.form-register select:hover {
  border-color: #ef8368;
  transition: all 0.3s ease;
}
.form-register select {
  background-color: #f9f9f9;
  color: #333;
  cursor: pointer;
}
.form-register select:hover {
  background-color: #e6e6e6;
}
.form-register ul {
  margin-right: 16px;
  color: #777;
  font-size: 14px;
  margin-top: 5px;
}
.form-register button {
  margin: 5px;
  padding: 8px 12px;
  background-color: #436CA2;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.2s;
}
.form-register button:hover {
  background-color: white;
  color: #436CA2;
  text-decoration: underline;
}
@media (max-width: 768px) {
  .form-register {
    width: 100%;
  }
}

.form {
  display: block;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 20px;
  border: 2px solid #9ac7e9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}
.form label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
  pointer-events: none; /* Вимикає події наведення для label */
}
.form input,
.form select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
  box-sizing: border-box;
}
.form input:focus,
.form select:focus {
  outline: none;
  border-color: #436CA2;
  box-shadow: 0 0 4px rgba(67, 108, 162, 0.2);
}
.form input:hover,
.form select:hover {
  border-color: #ef8368;
  transition: all 0.3s ease;
}
.form select {
  background-color: #f9f9f9;
  color: #333;
  cursor: pointer;
}
.form select:hover {
  background-color: #e6e6e6;
}
.form ul {
  margin-right: 16px;
  color: #777;
  font-size: 14px;
  margin-top: 5px;
}
.form button {
  margin: 5px;
  padding: 8px 12px;
  background-color: #9ac7e9;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.2s;
}
.form button:hover {
  background-color: white;
  color: #9ac7e9;
  text-decoration: underline;
}
@media (max-width: 768px) {
  .form {
    width: 100%;
  }
}

.flex-container {
  margin-top: 16px;
  margin-bottom: 16px;
}

.helptext {
  color: #777;
  font-size: 14px;
  margin-top: 5px;
}

.ml {
  margin-left: 25%;
}
@media (max-width: 768px) {
  .ml {
    margin-left: 5px;
  }
}/*# sourceMappingURL=style.css.map */