{% extends "layout.html" %}

{% load static %}

{% block title %} - Головна{% endblock %}

{% comment %} {% block head %}
    <style>
        body {
            background-color: #f0f0f0;
        }
    </style>
{% endblock %} {% endcomment %}

{% block body %}
    <h1>Привіт! Це – бібліотека демократичної<br> школи Майбутні</h1>
    
    {% if user.is_authenticated %}
        <p>Пояснення до функцій сайту:</p>
        <div class="help">
            <div>
                <h3>😁 Як взяти книгу?</h3>
                <p>
                    Щоб взяти книгу в бібліотеці, перейдіть на сторінку 
                    <a class="text-link" href="{% url 'take_book:take_book' %}">"Взяти книгу"</a> та виконайте подальші інструкції. 
                    Або знайдіть книгу у <a class="text-link" href="{% url 'books:table' %}">таблиці книг</a>. Книгу можна взяти на 1 місяць. 
                </p>
            </div>

            <div>
                <h3>🕑 Як повернути книгу?</h3>
                <p>
                    Зайдіть у свій <a class="text-link" href="{% url 'profile' %}">профіль</a> та натисніть кнопку "Повернути книгу". <strong>Важливо відмічати, що ви повернули книгу</strong>, 
                    інакше інші користувачі не зможуть взяти цю книгу.
                </p>
            </div>

            <div>
                <h3>✨ Як залишити запит на книгу?</h3>
                <p>
                    На сторінці <a class="text-link" href="{% url 'take_book:want_book' %}">"Запити"</a> можна лишити запит на книгу, або проголусувати за запити інших користувачів.
                </p>
            </div>
        </div>

        {% else %}
            <div class="info">
                <p>
                    Щоб отримати доступ до всіх можливостей бібліотеки треба 
                    <a class="text-link" href="{% url 'register' %}">зареєструватися</a> або 
                    <a class="text-link" href="{% url 'login' %}">увійти в систему</a>.
                </p>
                <p>
                    Без реєстрації можна переглянути <a class="text-link" href="{% url 'books:table' %}">таблицю книг</a>.
                </p>
            </div>
            <div class="list-books">

                <h2>ЩО ПОЧИТАТИ?</h2>
                <div class="books">
                    <div class="index-book">
                        <img src="{% static 'img/books/suchasnist.png' %}" alt="Сучасність">
                        <p><a href="{% url 'books:book' 566 %}">Сучасність. Навігатор з історії України<br><span>2023</span></a></p>
                    </div>
                    <div class="index-book">
                        <img src="{% static 'img/books/TPD.jpeg' %}" alt="The Politics of Design">
                        <p><a href="{% url 'books:book' 532 %}">The Politics of Design<br><span>2017</span></a></p>
                    </div>
                    <div class="index-book">
                        <img src="{% static 'img/books/the_way.jpeg' %}" alt="Роботи">
                        <p>The Way Things Work<br><span>2015</span></p>
                    </div>
                    <div class="index-book">
                        <img src="{% static 'img/books/skot.jpeg' %}" alt="Роботи">
                        <p><a href="{% url 'books:book' 428 %}">Скотт Пілігрим<br><span>2020</span></a></p>
                    </div>
                </div>
            </div>
        {% endif %}
    {% comment %} <p><a class="text-link" href="{% url 'rules' %}">Правила бібліотеки</a></p> {% endcomment %}
{% endblock %}