{% extends "layout.html" %}

{% load static %}

{% block title %} - Головна{% endblock %}

{% block head %}
    <script>
        let back = 'light-blue'
    </script>
{% endblock %}

{% block body %}
    <h1 class="content">Привіт! Це – бібліотека демократичної<br> школи Майбутні</h1>

    <div class="content">
        <div class="info">
            {% if user.is_authenticated%}
                <p>Щоб взяти книгу треба зайти на сторінку <a class="text-link" href="{% url 'take_book:take_book' %}">взяти книгу</a> або на сторінку книги через <a class="text-link" href="{% url 'books:table' %}">таблицю книг</a>.</p>
                <p>Щоб повернути книгу треба натиснути на кнопку "Повернути" у вас в <a class="text-link" href="{% url 'profile' %}">профілі</a>.</p>
            {% else %}
                <p>
                    Щоб отримати доступ до всіх можливостей бібліотеки треба 
                    <a class="text-link" href="{% url 'register' %}">зареєструватися</a> або 
                    <a class="text-link" href="{% url 'login' %}">увійти в систему</a>.
                </p>
                <p>
                    Без реєстрації можна переглянути <a class="text-link" href="{% url 'books:table' %}">таблицю книг</a>.
                </p>
            {% endif %}
        </div>
    </div>

    {% comment %} <div class="list-books">
        <h2>ПРИКЛАД ДИЗАЙНУ</h2>
        <div class="books">

            <div class="index-book">
                <a href="{% url 'books:book' 566 %}">
                    <img class="cover" src="{% static 'img/books/suchasnist.png' %}" alt="Сучасність">
                </a>
                <p><a href="{% url 'books:book' 566 %}">Сучасність. Навігатор з історії України<br><span>2023</span></a></p>
            </div>

            <div class="index-book">
                <a href="{% url 'books:book' 532 %}">
                    <img class="cover" src="{% static 'img/books/TPD.jpeg' %}" alt="The Politics of Design">
                </a>
                <p><a href="{% url 'books:book' 532 %}">The Politics of Design<br><span>2017</span></a></p>
            </div>

            <div class="index-book">
                <a href="#">
                    <img class="cover" src="{% static 'img/books/the_way.jpeg' %}" alt="The Way Things Work">
                </a>
                <p><a href="#">The Way Things Work<br><span>2015</span></a></p>
            </div>

            <div class="index-book">
                <a href="{% url 'books:book' 428 %}">
                    <img class="cover" src="{% static 'img/books/skot.jpeg' %}" alt="Скотт Пілігрим">
                </a>
                <p><a href="{% url 'books:book' 428 %}">Скотт Пілігрим<br><span>2020</span></a></p>
            </div>

        </div>
    </div> {% endcomment %}

    
    <div class="list-books">
        <h2>НОВІ КНИГИ!</h2>
        <div class="books">
            {% for book in new_books %}
                <div class="index-book">
                    {% if book.cover %}
                        <a href="{% url 'books:book' book.num %}">
                            <img class="cover" src="{{ book.cover.url }}" alt="{{ book.title }}">
                        </a>
                    {% else %}
                        <a href="{% url 'books:book' book.num %}">
                            <div class="without-cover">
                                <img class="default-cover" src="{% static 'img/mai-logo5.png' %}">
                            </div>
                        </a>
                    {% endif %}
                    <p><a href="{% url 'books:book' book.num %}">{{ book.title }}<br>
                        {% if book.year %}
                            <span>{{ book.year }}</span>
                        {% endif %}
                    </a></p>
                </div>
            {% endfor %}
        </div>
    </div>
    
    <div class="list-books">
        <h2>ЩО ПОЧИТАТИ?</h2>
        <div class="books">
            {% for book in books %}
                <div class="index-book">
                    {% if book.cover %}
                        <img class="cover" src="{{ book.cover.url }}" alt="{{ book.title }}">
                    {% else %}
                    <a href="{% url 'books:book' book.num %}">
                        <div class="without-cover">
                            <img class="default-cover" src="{% static 'img/mai-logo5.png' %}">
                        </div>
                    </a>
                    {% endif %}
                    <p><a href="{% url 'books:book' book.num %}">{{ book.title }}<br>
                        {% if book.year %}
                            <span>{{ book.year }}</span>
                        {% endif %}
                    </a></p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}