{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books</title>
    <link rel="stylesheet" href="{% static 'books/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    {% block head %}
    {% endblock %}
</head>
<body>
    <div class="head">
        <a class="head-link left" href="{% url 'index' %}">Головна</a>
        <button class="menu-toggle" aria-label="Toggle menu">☰</button>
        <div class="menu">
            <a class="head-link {% block menu_table %}{% endblock %}" href="{% url 'books:table' %}">Книги</a>
            <a class="head-link {% block menu_take_book %}{% endblock %}" href="{% url 'take_book:take_book' %}">Взяти книгу</a>
            <a class="head-link {% block menu_want_book %}{% endblock %}" href="{% url 'take_book:want_book' %}">Хочу книгу</a>
            <a class="head-link {% block menu_taking_books %}{% endblock %}" href="{% url 'take_book:taking_books' %}">Взяті книги</a>
            {% if user.is_authenticated %}
                {% if user.is_staff %}
                    <a class="head-link {% block menu_admin %}{% endblock %}" href="{% url 'admin:index' %}">Admin</a>
                {% endif %}
                <a class="head-link {% block menu_profile %}{% endblock %}" href="{% url 'users:profile' %}">{{ user.username }}</a>
            {% else %}
                <a class="head-link {% block menu_register %}{% endblock %}" href="{% url 'users:register' %}">Sign up</a>
                <a class="head-link {% block menu_login %}{% endblock %}" href="{% url 'users:login' %}">Log in</a>
            {% endif %}
        </div>
    </div>
    <div class="container">
        {% block body %}
        {% endblock %}
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const toggleButton = document.querySelector(".menu-toggle");
            const menu = document.querySelector(".menu");

            toggleButton.addEventListener("click", function () {
                menu.classList.toggle("active");
            });
        });
    </script>
</body>
</html>
