{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Бібліотека Майбутні{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/layout.css' %}">
    {% comment %} <link rel="stylesheet" href="{% static 'styles/new.css' %}"> {% endcomment %}

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <link rel="icon" href="https://c-p.rmcdn1.net/59197b903fefd80052fc7af4/upload-f8d69a40-76c8-11e7-81c2-73dc0427b3e9_144.png" type="image/png" class="">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="https://c-p.rmcdn1.net/59197b903fefd80052fc7af4/upload-f8d69a40-76c8-11e7-81c2-73dc0427b3e9_114.png" class="">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="https://c-p.rmcdn1.net/59197b903fefd80052fc7af4/upload-f8d69a40-76c8-11e7-81c2-73dc0427b3e9_72.png" class="">
    <link rel="apple-touch-icon-precomposed" href="https://c-p.rmcdn1.net/59197b903fefd80052fc7af4/upload-f8d69a40-76c8-11e7-81c2-73dc0427b3e9_57.png" class="">
    {% block head %}
    {% endblock %}
</head>
<body>

<div class="page">

    <div id="top-container" class="container">

        <div class="head">
            <a class="head-link" href="{% url 'index' %}">бібліотека</a>
            <button class="menu-toggle" aria-label="Toggle menu">меню</button>
            <div class="menu">
                <a class="head-link {% block menu_table %}{% endblock %}" href="{% url 'books:table' %}">книги</a>
                <a class="head-link {% block menu_take_book %}{% endblock %}" href="{% url 'take_book:take_book' %}">взяти книгу</a>
                <a class="head-link {% block menu_taking_books %}{% endblock %}" href="{% url 'take_book:taking_books' %}">взяті книги</a>
                <a class="head-link {% block menu_want_book %}{% endblock %}" href="{% url 'take_book:want_book' %}">запити</a>
                {% if user.is_authenticated %}
                    <a class="head-link {% block menu_profile %}{% endblock %}" href="{% url 'profile' %}">{{ user.username }}</a>
                {% else %}
                    {% comment %} <a class="head-link right {% block menu_register %}{% endblock %}" href="{% url 'register' %}">Sign up</a> {% endcomment %}
                    <a class="head-link {% block menu_login %}{% endblock %}" href="{% url 'login' %}">увійти</a>
                {% endif %}
            </div>
        </div>

        <div id="main-content">
            {% block body %}
            {% endblock %}
        </div>

    </div>

        
    <footer class="footer">
        <div class="container">
            <div class="content">
            <div class="footer-logo-svg">
                <svg xmlns="http://www.w3.org/2000/svg" id="Layer_2" data-name="Layer 2" viewBox="0 0 858.030029296875 201.94000244140625" preserveAspectRatio="xMidYMid meet" role="img">
                    <defs>
                        <style>
                            .cls-1 {
                            fill: #6bc3ea;
                            }
                    
                            .cls-1, .cls-2, .cls-3, .cls-4 {
                            stroke-width: 0px;
                            }
                    
                            .cls-2 {
                            fill: #f7775e;
                            }
                    
                            .cls-3 {
                            fill: #386ba6;
                            }
                    
                            .cls-4 {
                            fill: #fff;
                            }
                        </style>
                    </defs>
                    <g id="dcdac5fc-ef2f-489d-90b7-8ec41097caa5" data-name="Layer 1">
                    <g>
                        <path class="cls-3" d="M459.93,0c-.21,1.44-1.01,4.96-3.85,7.81-3.52,3.53-9.37,5.32-17.4,5.33h0c-14.33,0-25.62,4.04-33.57,12.01-9.32,9.35-10.42,20.74-10.54,23.87h22.77c.21-1.43,1-4.97,3.85-7.83,3.52-3.53,9.37-5.32,17.4-5.33h0c14.33,0,25.62-4.04,33.57-12.01,9.3-9.33,10.41-20.68,10.54-23.85h-22.77Z"></path>
                        <path class="cls-2" d="M842.33,5.77c8.6,0,15.7,7.1,15.7,15.7s-7.1,15.7-15.7,15.7-15.7-7.1-15.7-15.7,7.1-15.7,15.7-15.7Z"></path>
                        <path class="cls-4" d="M16.99,59.6h19.35l25.59,53.54,25.59-53.54h19.35l16.99,93.1h-26.23l-7.74-50.53-23.22,50.53h-9.46l-23.22-50.53-7.74,50.53H0L16.99,59.6Z"></path>
                        <path class="cls-4" d="M297.19,59.6v57.41l43-57.41h26.23v93.1h-26.23v-57.41l-43,57.41h-26.23V59.6h26.23Z"></path>
                        <path class="cls-4" d="M535.23,138.72l-44.29-79.12h30.53l28.81,52.89,25.8-52.89h29.67l-75.04,142.34h-29.67l34.19-63.21Z"></path>
                        <path class="cls-4" d="M666.53,81.96v70.74h-26.23v-70.74h-25.8v-22.36h77.83v22.36h-25.8Z"></path>
                        <path class="cls-4" d="M709.97,59.6h26.23v32.9h36.55v-32.9h26.23v93.1h-26.23v-37.84h-36.55v37.84h-26.23V59.6Z"></path>
                        <path class="cls-4" d="M855.45,59.64v93.1h-26.23V59.64h26.23Z"></path>
                        <path class="cls-4" d="M438.5,57.73c-26.74,0-48.42,21.68-48.42,48.42s21.68,48.42,48.42,48.42,48.42-21.68,48.42-48.42-21.68-48.42-48.42-48.42ZM438.5,130c-13.17,0-23.85-10.68-23.85-23.85s10.68-23.85,23.85-23.85,23.85,10.68,23.85,23.85-10.68,23.85-23.85,23.85Z"></path>
                        <path class="cls-4" d="M214.54,59.59v7.33c-7.99-5.81-17.83-9.24-28.47-9.24-26.77,0-48.47,21.7-48.47,48.47s21.7,48.47,48.47,48.47c10.64,0,20.47-3.43,28.47-9.24v7.35h26.4V59.59h-26.4ZM189.35,131.49c-14,0-25.34-11.35-25.34-25.34s11.35-25.34,25.34-25.34c13.07,0,23.83,9.9,25.19,22.61v5.46c-1.36,12.71-12.12,22.61-25.19,22.61Z"></path>
                        <path class="cls-1" d="M338.91,8.16c-3.35,7.9-11.18,13.44-20.31,13.44s-16.95-5.54-20.31-13.44l-17.73,8.08c6.43,14.62,21.04,24.83,38.03,24.83s31.61-10.21,38.03-24.83l-17.73-8.08Z"></path>
                    </g>
                    </g>
                </svg>
            </div>

            <div class="footer-content">
                <div class="footer-group">
                    <p>Книги</p>
                    <ul>
                        <li><a href="{% url 'books:table' %}">Наші книги</a></li>
                        <li><a href="{% url 'take_book:want_book' %}">Запити на книги</a></li>
                        <li><a href="{% url 'take_book:taking_books' %}">Взяті книги</a></li>
                        {% comment %} {% if user.is_staff %}
                            <li><a href="{% url 'books:add' %}">Додати книгу</a></li>
                        {% endif %} {% endcomment %}
                    </ul>
                </div>
                <div class="footer-group">
                    <p>Бібліотека</p>
                    <ul>
                        <li><a href="{% url 'rules' %}">Правила</a></li>
                        <li><a href="{% url 'librarians' %}">Бібліотекарі</a></li>
                        {% if user.is_staff %}
                            <li><a href="{% url 'admin:index' %}">Admin</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>

            <div class="footer-logo-mobile">
                <img class="mobile" src="{% static 'img/mai_logo3.png' %}" alt="МАІ">
            </div>

            <p class="copyright">© 2025 Dmytro Radchenko</p>
            <p class="copyright">Якщо знайдете помилку або якщо маєте пропозиції чи питання, пишіть на тґ @radchenkoDim.</p>
        </div>
        </div>
    </footer>
</div>

<script src="{% static 'js/menu.js' %}"></script>
</body>
</html>
