{% extends "layout.html" %}

{% block title %} - Правила{% endblock %}

{% block body %}
    <h1>Правила бібліотеки</h1>

    <div class="rules">
        <h3>😌 Коли береш книгу:</h3>
        <p>
            Коли береш книгу треба вказати це на сторінці <a class="text-link" href="{% url 'take_book:take_book' %}">"Взяти книгу"</a>. 
            Книгу можна взяти на 1 місяць. Щоб повернути книгу треба натиснути на кнопку "Повернути" у вас в 
            <a class="text-link" href="{% url 'profile' %}">профілі</a>.
        </p>

        <h3>😱 Якщо книга загубилась:</h3>
        <p>
            Якщо випадково загубив або пошкодив книгу, треба поповнити колекцію бібліотеки новим примірником цієї ж книжки. 
            Звертайся до Лізи @LizaHill, Якщо так сталося.
        </p>

        <h3>😇 Коли в просторі бібліотеки:</h3>
        <p>
            Не заходь в простір з їжею. Можна заходити з напоями, якщо та столі, де ви будете сидіти немає книг. 
            Якщо береш меблі з бібліотеки, повертай їх на місце.
        </p>

        <h3>💖 Якщо хочеш задонатити книгу:</h3>
        <p>
            Якщо хочеш задонатити книгу, переконайся, що вона написане не російською мовою. 
            Якщо книга відповідає цьому критерію, звертайся до Лізи @LizaHill.
    </div>
{% endblock %}