{% extends "books/layout.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'books/style-book.css' %}">
{% endblock %}

{% block body %}
<div class="container">
    {% for item in book %}
        <h2>{{ item.title }}</h2>
        <p>Автор: {{ item.author }}</p>
        <p>Номер: {{ item.num }}</p>
        <p>Категорія: <a href="#">{{ item.category }}</a></p>
        <p>Підкатегорія: {{ item.subcategory }}</p>
        <p>Рік видання: {{ item.year }}</p>
        <p>Кількість томів: {{ item.tom }}</p>
        <p>Видавництво: {{ item.publisher }}</p>
        <p>Примітка: {{ item.ntoes }}</p>
    {% empty %}
        <p>No books found.</p>
    {% endfor %}
</div>
{% endblock %}