{% extends "books/layout.html" %}

{% block body %}
    {% for item in book %}
        <h1>{{ item.title }}</h1>
        <p>Автор: {{ item.author }}</p>
        <p>Номер: {{ item.num }}</p>
        <p>Категорія: {{ item.category }}</p>
        <p>Підкатегорія: {{ item.subcategory }}</p>
        <p>Рік видання: {{ item.year }}</p>
        <p>Кількість томів: {{ item.tom }}</p>
        <p>Видавництво: {{ item.publisher }}</p>
        <p>Примітка: {{ item.ntoes }}</p>
    {% empty %}
        <p>No books found.</p>
    {% endfor %}
{% endblock %}