{% extends "layout.html" %}

{% block menu_table %}active{% endblock %}

{% block body %}
    <h1>{{ book.title }}</h1>
    <p>Автор: {{ book.author }}</p>
    <p>Номер: {{ book.num }}</p>
    <p>Категорія: <a class="text-link" href="{% url 'books:category' book.category %}">{{ book.category }}</a></p>
    <p>Рік видання: {{ book.year }}</p>
    <p>Кількість томів: {{ book.tom }}</p>
    <p>Видавництво: <a class="text-link" href="{% url 'books:publisher' book.publisher %}">{{ book.publisher }}</a></p>
    <a class="text-link" href="{% url 'take_book:take_book' %}?book_num={{ book.num }}">Взяти книгу</a> 
    <br>
    <a class="text-link" href="javascript:history.back()">Повернутись</a>
{% endblock %}