{% extends "books/layout.html" %}

{% block body %}
<p>
    Це пробна версія застосунку шкільної бібліотеки, тож ще доступен не весь функціонал. 
    Для того щоб взяти книгу перейдіть до <a href="{% url 'table' %}">таблиці бібліотеки</a>. 
    Обрати книгу можна просто натиснувши на неї у таблиці. Знайти книгу можна написавши назву/категорію/автора книги у полі пошуку над таблицею бібліотеки. 
    Після цього треба перейти на посиланням на сторінці книги. 
    При виникненні питань пишіть на телеґрам @radchenkoDim.
</p>
{% endblock %}
<a href="{% url 'table' %}">таблиці бібліотеки</a>