{% extends "books/layout.html" %}

{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'books/style.css' %}">
{% endblock %}

{% block body %}
    <h1>Home page</h1>
    {% if user.is_authenticated %}
        <h2>Hello, {{ user }}</h2>
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button class="orange">Logout</button>
        </form>
    {% else %}
        <h2>Hello, guest</h2>
    {% endif %}
    <p>Це пробна версія застосунку бібліотеки. Не всі функції працюють досконало. При винекненні питань пишіть на телеґрам <span class="italic">@radchenkoDim</span>.</p>
{% endblock %}