<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books</title>
    {% block head %}
    {% endblock %}
</head>
<body>
    <div class="head">
        <a class="link" href="#">Головна</a>
        <a class="link" href="#">Взяти книгу</a>
        <a class="link" href="#">Таблиця</a>
        <a class="link" href="#">с</a>
        <a class="link" href="#">Log in</a>
    </div>
    {% block body %}
    {% endblock %}
</body>
</html>