{% extends "layout.html" %}

{% load static %}

{% block head %}
    <script>
        const data={{ books_json|safe }};
    </script>
{% endblock %}

{% block menu_table %}active{% endblock %}

{% block body %}
<div id="books-data">
    <h1>Таблиця книг</h1>
    <div class="input-table">
        <p class="little">Знайти книгу:</p>
        <input type="text" id="filterInput" placeholder="search">
    </div>
    <p class="little">Натиснувши на книгу можна перейти на сторінку книги.</p>
    <table class="book-data-table">
        <thead>
            <tr>
                <th><button class="light-blue" id="sortButton">№</button></th>
                <th>Назва</th>
                <th>Автор</th>
                <th>Категорія</th>
            </tr>
        </thead>
        <tbody>
            {% for book in books %}
                <tr>
                    <td><a href="{% url 'books:book' book.num %}">{{ book.num }}</a></td>
                    <td><a href="{% url 'books:book' book.num %}">{{ book.title }}</a></td>
                    {% if book.author %}
                        <td><a href="{% url 'books:author' book.author %}">{{ book.author }}</a></td>
                    {% else %}
                        <td>Немає даних</td>
                    {% endif %}
                    <td><a href="{% url 'books:category' book.category %}">{{ book.category }}</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<script src="{% static 'books/script.js' %}"></script>
{% endblock %}