{% extends "layout.html" %}

{% load static %}

{% block head %}
    <script>
        const data={{ books_json|safe }};
        console.log(data);
    </script>
{% endblock %}

{% block menu_table %}active{% endblock %}

{% block body %}
<div id="books-data">
    <h1>Таблиця книг</h1>
    <div class="input-table">
        <p class="little">Знайти книгу:</p>
        <input type="text" id="filterInput" placeholder="search">
    </div>
    <p class="little">Натиснувши на книгу можна перейти на сторінку книги.</p>
    <table class="book-data-table">
        <thead>
            <tr>
                <th><button class="light-blue" id="sortButton">№</button></th>
                <th>Назва</th>
                <th>Автор</th>
                <th>Категорія</th>
                <th>Підкатегорія</th>
            </tr>
        </thead>
        <tbody>
            {% comment %} js
            <tr>
                <td><a href="/books/table/...">{{ book.num }}</a></td>
                <td><a href="/books/table/...">{{ book.title }}</a></td>
                <td><a href="/books/table/...">{{ book.author }}</a></td>
                <td><a href="/books/table/...">{{ book.category }}</a></td>
                <td><a href="/books/table/...">{{ book.subcategory }}</a></td>
            </tr>
            {% endcomment %}
        </tbody>
    </table>
</div>
<script src="{% static 'books/script.js' %}"></script>
{% endblock %}