body {
  background-color: #8CC5EC;
  font-family: Futura PT;
  font-size: 28px;
  font-weight: 600;
  line-height: 32px;
  text-align: center;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  margin: 0;
  margin-top: 54px;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 60px;
  min-height: 100vh;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 20px 0;
  margin: 0;
  z-index: 100;
  background-color: none;
}
.head .menu {
  display: flex;
  align-items: center;
  gap: 46px;
  flex-grow: 1;
}
.head .menu .head-link {
  color: #000;
  text-decoration: none;
  line-height: 35.9px;
  transition: all 0.3s ease;
}
.head .menu .head-link:hover {
  color: #ef8368;
}
.head .menu .menu-toggle {
  display: none;
  background-color: none;
  border: none;
  cursor: pointer;
}
.head .menu .head-link:last-child {
  margin-left: auto;
}

h1 {
  font-family: Futura PT;
  font-size: 52px;
  font-weight: 600;
  line-height: 54px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  margin-top: 65px;
  margin-bottom: 20px;
}

p {
  font-family: Futura PT;
  font-size: 28px;
  font-weight: 600;
  line-height: 32px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}

.text-link {
  color: #000;
  text-decoration: underline;
  text-decoration-style: solid;
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
  transition: all 0.3s ease;
}
.text-link:hover {
  color: #ef8368;
}

.footer {
  background-color: black;
  color: white;
  border-top: 6px solid #ef8368;
}
.footer .footer-container {
  max-width: 1200px;
  margin: 94px auto 0;
  padding-bottom: 76px;
}
.footer .footer-container .footer-content {
  display: flex;
  justify-content: left;
  align-items: top;
  gap: 79px;
}
.footer .footer-container .footer-content .footer-group {
  margin-bottom: 120px;
}
.footer .footer-container .footer-content .footer-group p {
  font-family: Futura PT;
  font-size: 18px;
  font-weight: 450;
  line-height: 24px;
  letter-spacing: 0.08em;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #797979;
  margin-bottom: 8px;
}
.footer .footer-container .footer-content .footer-group ul {
  list-style: none;
  padding: 0;
  margin: 0;
  -moz-text-align-last: left;
       text-align-last: left;
}
.footer .footer-container .footer-content .footer-group a {
  font-family: Futura PT;
  font-size: 22px;
  font-weight: 450;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  text-decoration: none;
  transition: all 0.3s ease;
  color: white;
}
.footer .footer-container .footer-content .footer-group a:hover {
  color: #ef8368;
}
.footer .footer-container .copyright {
  font-family: Futura PT;
  font-size: 20px;
  font-weight: 450;
  line-height: 28px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #636363;
  margin-top: 0;
  margin-bottom: 14px;
}
.footer .footer-container .copyright:last-child {
  margin-bottom: 76px;
}

.info {
  width: 736px;
}
.info p {
  margin-top: 0;
  margin-bottom: 10px;
}/*# sourceMappingURL=layout.css.map */