{% extends "layout.html" %}

{% block title %} - Бібліотекарі{% endblock %}

{% load static %}

{% block body %}
    <h1>Бібліотекарі</h1>

    {% comment %} <p>Список бібліотекарів:</p> {% endcomment %}
    <div class="librarians">
        <ul>
            {% for librarian in librarians %}
                <li>
                    {% if librarian.avatar %}
                        <img class="librarians-avatar" src="{{ librarian.avatar.url }}" alt="{{ librarian.first_name }}">
                    {% else %}
                        <img class="librarians-avatar" src="{% static 'img/default_avatar.png' %}" alt="{{ librarian.first_name }}">
                    {% endif %}
                    <div>
                        <h3>{{ librarian.first_name }} {{ librarian.last_name }}</h3>
                        <p>{{ librarian.telegram_tag }}</p>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}